# Calculate and display differences between dataframes

In [26]:
import pandas as pd
import numpy as np

In [27]:
prev = pd.read_pickle("output/1555491870_candidates.dat")
curr = pd.read_pickle("output/1555493836_candidates.dat")

In [30]:
def diff_pd(df1, df2):
    """
    Identify differences between two pandas DataFrames
    Derived and modified from: https://stackoverflow.com/a/38421614
    """
    assert (df1.columns == df2.columns).all(), \
        "DataFrame column names are different"
    if any(df1.dtypes != df2.dtypes):
        "Data Types are different, trying to convert"
        df2 = df2.astype(df1.dtypes)
    if df1.equals(df2):
        return None
    else:
        # need to account for np.nan != np.nan returning True
        diff_mask = (df1 != df2) & ~(df1.isnull() & df2.isnull())
        ne_stacked = diff_mask.stack()
        changed = ne_stacked[ne_stacked]
        changed.index.names = ['id', 'col']
        difference_locations = np.where(diff_mask)
        changed_from = df1.values[difference_locations]
        changed_to = df2.values[difference_locations]
        return pd.DataFrame({'from': changed_from, 'to': changed_to},
                            index=changed.index)

In [31]:
diff_pd(prev, curr)

                                          from                 to
id                 col
Amanda-Sue Markham facebook    307753713452428  10157009666402464
Hemant Dave        facebook  10157009400537464  10157009666402464
Robert Shearman    facebook  10157009400537464  10157009666402464